body{
background-color: #F3D7CA;



  
}
.header{
 background-color: #B19470;
  margin-top: -10px;
  margin-left: -8px;
  margin-right: -8px;
  height: 90px;;
  border: 3px solid #B19470;
 
}







.logo{
   display: flex;
   margin-top: -75px;
   margin-left: 20px;
  text-align: left;
  vertical-align: middle;
  
}
.logo-name{

  margin-top: -65px;
   margin-left: 140px;
  text-align: left;
  font-size: 30px;
  

  
}
.sidepanel{

  
  color: #ffff;
  text-align: right;
  word-spacing: 60px;
  margin-right: 150px;
  margin-top: 50px;
  font-size: 20px;
}
.welcome{
    width: 990px;
    height: 350px;
    padding: 3px;
    border: 1px solid #1c2333;
    margin-top: 90px;
    background-color: #F9EFDB;
    margin-left: auto;
    margin-right: auto; 
   margin-bottom: 20px;
   
}
.welcome-text{
  margin-top: 220px;
  margin-left: auto;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 text-align: justify;
  
}

.sidepeek{
  margin-left: 285px;
  margin-top: -280px;
  
}


.jennard{
   max-height: 925px;
   max-width: 425px;
   margin-top: -370px;
   margin-left:290px ;
  
}





.jennard img{

  width: 100%;
  height: 100%;

  
}




.ftext{
  margin-top: 420px;
  margin-left: 700px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}






























.footer{
   
   
  background-color: #B19470;
  margin-top: 355px;
  margin-left: -8px;
  margin-right: -8px;
  height: 90px;;
  border: 3px solid #B19470;;
  text-align: center;
}





.bearguy{
   max-height: 725px;
   max-width: 225px;
   margin-top: 100px;
}


.bearguy img{
  width: 100%;
  height: 100%;

}





.haro{
   max-height: 3025px;
   max-width: 225px;
   margin-top: -200px;
  margin-left: 1400px;
}


.haro img{
  width: 100%;
  height: 100%;
  
}





.f1box{
  width: 590px;
  height: 300px;
  padding: 3px;
  border: 1px solid #1c2333;
  margin-top: 90px;
  background-color: #F9EFDB;
  margin-left: 250px;
  margin-right: auto; 
 margin-bottom: 20px;
}



  .f2box{
    width: 590px;
    height: 310px;
    padding: 0px;
    border: 1px solid #1c2333;
    margin-top: -330px;
    background-color: #F9EFDB;
    margin-left: 900px;
    margin-right: auto; 
   margin-bottom: 20px;
  }





.bcf img{

  height: 100%;
  width: 100%;
}

.shopee img{
  height: 100%;
  width: 100%;
  
}
.shopeelink{

  text-align: center;
  margin-top: 25px;
  
}

.bcflink{

  text-align: center;
  margin-top: 20px;
  
}